<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<context:component-scan base-package="com.excilys.formation.yaeba.webapp" />

	<security:http>


		<security:intercept-url pattern="/welcome.html" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/login.html" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/error-*.html" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/style.css" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		<security:intercept-url pattern="/images/*" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />

		<security:intercept-url pattern="/user/**" access="ROLE_USER" />

		<security:intercept-url pattern="/**" access="ROLE_ADMIN" />

		<security:form-login login-page="/login.html" authentication-failure-url="/login.html"
			authentication-success-handler-ref="authenticationSuccessHandler" />

		<security:logout logout-success-url="/login.html" />
	</security:http>

	<bean id="shaPasswordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="512" />
	</bean>

	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder ref="shaPasswordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>


	<bean name="defaultWebSecurityExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans>
