<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<context:component-scan base-package="com.excilys.formation.yaeba.ws" />

	<!-- <import resource="classpath:META-INF/cxf/cxf.xml" /> -->
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<!-- <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->

	<bean id="yaebaImpl" class="com.excilys.formation.yaeba.ws.YaebaImpl" />

	<jaxws:endpoint xmlns:tns="http://com/excilys/formation/yaeba/ws" id="yaeba" implementor="#yaebaImpl"
		wsdlLocation="wsdl/yaeba.wsdl" endpointName="tns:YaebaWS" serviceName="tns:Yaeba" address="/YaebaWS">
		<jaxws:features>
			<bean class="org.apache.cxf.feature.LoggingFeature" />
		</jaxws:features>
	</jaxws:endpoint>

<!-- 	<bean id="myCompteImpl" class="com.excilys.formation.yaeba.ws.CompteImpl" /> -->

<!-- 	<jaxws:endpoint xmlns:tns="http://com/excilys/formation/yaeba/ws" id="compte" implementor="#myCompteImpl" -->
<!-- 		wsdlLocation="wsdl/compte.wsdl" endpointName="tns:CompteSOAP" serviceName="tns:Compte" address="/CompteSOAP"> -->
<!-- 		<jaxws:features> -->
<!-- 			<bean class="org.apache.cxf.feature.LoggingFeature" /> -->
<!-- 		</jaxws:features> -->
<!-- 	</jaxws:endpoint> -->

</beans>
